
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #212F3C;
    font-family: 'Roboto', sans-serif;
}


/* Sections  */
.service-section,.tournament-section{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-inline: auto;
    padding-block: 20px;
}


/* Navigation */
.header{
    background-color: black;
}
.navbar{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 10px 35px 0px 0px;
    overflow: hidden;
    z-index: 99;
}
.header img{
    width: 150px;
}
.nav-list ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.hamburger{
    display: none;
}
.bar{
    width: 25px;
    height: 3px;

    display: block;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* Community Section  */
.image-section{
    height: 100vh;
}
.bakground-image-container{
   background-image: url(Assets/back2.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.text{
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.641);
    color: white; 
  
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    padding: 20px;
    text-align: center;
}
.text h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.text p{
    margin-top: 10px;
    font-size: 1.1rem;
}


/* Services  */

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.section-head{
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    width: 350px;
    height: 450px;
    overflow: hidden;
    /* box-shadow: 5px 5px 5px rgba(200, 197, 197, 0.2), 5px 5px 5px 0 rgba(210, 210, 210, 0.19); */
    background-color: whitesmoke;
    /* padding: 5px; */
    
}
.card img{
    object-fit:cover;
    width: 100%;
}
.card h3{
    font-size: 1.5rem;
    /* color: white; */
}

.card p{
    text-align: justify;
    padding-inline: 10px;
    padding-block: 10px;
}

/* Tournment section  */
.tournament-section{
    background-color:#34495E;
    border-radius: 10px;
}


.button{
    margin-block: 10px;
}
.button>a{
    /* margin-block: 10px; */
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(12, 146, 191);
    padding-block: 10px;
    padding-inline: 10px;
    font-size: 1.2rem;
}



/* Founder Section  */
.founder-section{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-inline: auto;
    padding-block: 20px;
    border-radius: 10px; 
    background-color: #34495E;
    margin-block: 15px;
}

.rounak-kapoor{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    /* background-color: black; */
    
}
.image{
    width: 350px;
}
.rounak-kapoor img{
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
}
.rounak-kapoor h3{
    font-size: 1.8rem;
    color: white;
    text-align: center;
    padding-inline: 10px;
}
.rounak-kapoor p{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding-inline: 10px;
}

/* Footer  */
footer{
    margin-top: 15px;
    padding-block: 60px;
    background-color: #151520;
}
.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 25px;
    background-color: #151520;
    color: white;
}
.social-container h3{
    font-size: 2rem;
    color: #e7e8e9;
    font-weight: 500;
}
.social-container .para{
    color: #b8b8b8;
    font-size: 1.5rem;
    font-weight: 500;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-media a>i{
    font-size: 35px;
    color: white;
} 